body {
    background-color: #483D8B;
}

.authorization-form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

.authorization-form__header {
    color: #00BFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 140px;
    top: 40px;
}

.authorization-form__input-email {
    background: url(../images/close-envelope.png) no-repeat 10px 6px;
    background-size: auto 50%;
    padding-left: 30px;
    border: #CCCCCC;
    border-radius: 20px;
    background-color: #CCCCCC;
    color: #555555;
    font-size: 14px;
    position: absolute;
    left: 40px;
    top: 100px;
    width: 290px;
    height: 30px;
}

.authorization-form__input-password {
    background: url(../images/locked-padlock.png) no-repeat 10px 6px, url(../images/question.png) no-repeat 290px 8px;
    background-size: auto 50%;
    padding-left: 30px;
    border: #CCCCCC;
    border-radius: 20px;
    background-color: #CCCCCC;
    color: #555555;
    font-size: 14px;
    position: absolute;
    left: 40px;
    top: 150px;
    width: 290px;
    height: 30px;
}

.authorization-form__confirm-button {
    border: #00BFFF;
    border-radius: 20px;
    background-color: #00BFFF;
    color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    left: 260px;
    top: 200px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}

.authorization-form__registration-button {
    border: #00BFFF;
    border-radius: 20px;
    background-color: #00BFFF;
    color: #FFFFFF;
    position: absolute;
    left: 40px;
    top: 200px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    text-align: center;
}

.authorization-form__input-email:focus {
    background-color: burlywood
}

.authorization-form__input-password:focus {
    background-color: burlywood
}
.msgBox {
    top: 5em;
    left: 1.5em;
    position: absolute;
    padding: 0 1em;
    color: #ff0000;
}