body {
    background-color: #483D8B;
}

.registration-form {
    width: 430px;
    height: 563px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -200px;
}

.registration-form__header {
    color: #00BFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    left: 150px;
    top: 40px;
}

.registration-form__label-email {
    background-color: transparent;
    border: 0px solid #000000;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 109px;
    color: #013ADF;
    font-family: Arial;
    font-size: 16px;
}

.registration-form__label-login {
    background-color: transparent;
    border: 0px solid #000000;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 195px;
    color: #013ADF;
    font-family: Arial;
    font-size: 16px;
}

.registration-form__label-password {
    background-color: transparent;
    border: 0px solid #000000;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 280px;
    color: #013ADF;
    font-family: Arial;
    font-size: 16px;
}

.registration-form__label-retry-password {
    background-color: transparent;
    border: 0px solid #000000;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 365px;
    color: #013ADF;
    font-family: Arial;
    font-size: 16px;
}

.registration-form__confirm-button {
    border: 1px solid #2E6DA4;
    border-radius: 2px;
    background-color: #00BFFF;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 30px;
    top: 489px;
    width: 370px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.registration-form__confirm-button:hover {
    background: #F0E68C;
    color: #696969;
}

.registration-form__confirm-button:focus {
    outline: none;
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.registration-form__input-email {
    background: url(../images/close-envelope.png) no-repeat 3px 1px;
    background-size: auto 90%;
    padding-left: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: #555555;
    font-family: Arial;
    font-size: 15px;
    padding: 4px 4px 4px 40px;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 143px;
    width: 325px;
    height: 25px;
}

.registration-form__input-login {
    background: url(../images/user-shape.png) no-repeat 3px 1px;
    background-size: auto 90%;
    padding-left: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: #555555;
    font-family: Arial;
    font-size: 15px;
    padding: 4px 4px 4px 40px;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 228px;
    width: 325px;
    height: 25px;
}

.registration-form__input-password {
    background: url(../images/locked-padlock.png) no-repeat 3px 1px;
    background-size: auto 90%;
    padding-left: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: #555555;
    font-family: Arial;
    font-size: 15px;
    padding: 4px 4px 4px 40px;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 313px;
    width: 325px;
    height: 25px;
}

.registration-form__input-retry-password {
    background: url(../images/locked-padlock.png) no-repeat 3px 1px;
    background-size: auto 90%;
    padding-left: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    background-color: #CCCCCC;
    color: #555555;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    padding: 4px 4px 4px 40px;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 398px;
    width: 325px;
    height: 25px;
}

input:focus {
    border: 2px solid red;
}

.msgBox {
    top: 5em;
    left: 0.8em;
    position: absolute;
    padding: 0 1em;
    color: #ff0000;
}