.border {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}
.border-bottom {
  border-bottom: 1px solid #F2F2F2;
}
.col {
  position: relative;
  float: left;
  padding: 0.5em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-size: 1em;
  color: #333333;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
input,
textarea,
select,
button {
  font: inherit;
}
.col-1 {
  width: 8.33333333%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-2 {
  width: 8.66666667%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-3 {
  width: 25%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-4 {
  width: 15.33333333%;
  position: relative;
  float: left;
  padding: 0.5em;
  text-align: center;
}
.col-5 {
  width: 41.66666667%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-6 {
  width: 50%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-7 {
  width: 58.33333333%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-8 {
  width: 66.66666667%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-9 {
  width: 75%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-10 {
  width: 83.33333333%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-11 {
  width: 91.66666667%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.col-12 {
  width: 91.66666667%;
  position: relative;
  float: left;
  padding: 0.5em;
}
.block {
  margin: 0 auto;
}
.block__element {
  width: 10px;
}
.block__element--active {
  color: red;
}
.block__element--disable {
  color: red;
}
.block__element--enable {
  color: red;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
.header {
  padding: 0.5em 0;
}
.main {
  background-color: #F3F8FB;
  display: flex;
  flex-direction: row;
  /*min-height: 90vh;*/
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em;
}
.data__Form {
  padding-top: 1em;
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  width: 33%;
}
.data__input {
  padding: 1em;
  margin-right: 3em;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  width: 100%;
}
.data__input::placeholder {
  color: #a8a8a8;
}
.data__button {
  margin: 0.5em 0;
  padding: 0.7em 2em;
  margin-right: 1em;
  text-transform: capitalize;
  color: white;
  font-weight: 700;
  background-color: #815ef6;
  outline: 0;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  width: 100%;
}
.data__button:hover {
  background: #574494;
}
.data__table {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: white;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  width: 100%;
  margin-top: 15px;
  margin-right: 60px;
}
.data__table-header {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  margin-top: 1em;
  background: #F2F2F2;
  font-weight: 700;
}
.data__table-body .row {
  border-bottom: 1px solid #F2F2F2;
}
.msgBox {
  top: 21%;
  left: 20%;
  position: absolute;
  padding: 0 1em;
  color: #ff0000;
}

.buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inputs {
  /*margin-right: 60px;*/
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  width: 230px;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}
p {
  margin-left: 30%;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 20%;
}
.logout-button{
  position: fixed;
  margin-left: 85%;
  width: 167px;
  background-color: #b8b8b5;

  padding: 0.7em 2em;
  margin-right: 1em;
  text-transform: capitalize;
  color: white;
  font-weight: 700;
  background-color: #a3b0bf;
  outline: 0;
  border: 1px solid #F2F2F2;
  border-radius: 4px;

}
